@charset "utf-8";

/************  element ********/
.element {
  width: 100%;
  position: relative;
  padding-bottom: 200px;
}
.booking {
  width: 670px;
  margin:0 auto;
  margin-bottom: 30px;
}
.contact {
  width: 670px;
  margin: 0 auto;
}
.cont-02 {
  margin-bottom: 30px;
}
.cont-02 h3 {
  font-size: 48px;
  text-align: center;
  letter-spacing: -8px;
  margin-bottom: 20px;
}
.cont-02 p {
  width: 95%;
  margin:0 auto;
  font-size: 24px;
}
.gallery ul li {
  margin-bottom: 20px;
}
/*------for register and price page------*/
.trail-box01 {
  margin-bottom: 40px;
}
.trail-box01 h2 {
  background: url(../images/register_img02.png) repeat;
  color : #786450;
  font-size: 30px;
  position: relative;
  padding: 20px 0 20px 60px;
  margin-bottom: 20px;
}
.trail-box01 h2:before {
  content: url(../images/register_img01.png);
  position: absolute;
  top: 23px;
  left: 20px;
}
.trail-box01 h3 {
  font-size: 28px;
  margin-bottom: 20px;
}
.trail-box01 a {
  text-decoration: none;
  color: #649fc7;
  display: inline-block;
}

.trail-box01 table {
  width: 100%;
  background: #fff;
  font-size: 28px;
  color: #646464;
  margin-bottom: 40px;
}

.trail-box01 table tr th {
  background: #f5f5f0;
  height: 50px;
  font-weight: normal;
}

.trail-box01 table.trail-table-s01 tr th:nth-child(1) {
  width: 36%;
}

.trail-box01 table.trail-table-s01 tr th:nth-child(2) {
  width: 39%;
}

.trail-box01 table.trail-table-s01 tr th:nth-child(3) {
  width: 25%;
}

.trail-box01 table.trail-table-s02 tr th:nth-child(1) {
  width: 40%;
}

.trail-box01 table.trail-table-s02 tr th:nth-child(2) {
  width: 60%;
}

.trail-box01 table tr th:nth-child(2),
.trail-box01 table tr td:nth-child(2) {
  border-left: 2px solid #bbb1a7;
  border-right: 2px solid #bbb1a7;
}
.trail-box01 table.trail-table-s02 tr th:nth-child(2),
.trail-box01 table.trail-table-s02 tr td:nth-child(2) {
  border-right: none;
}

.trail-box01 table tr td {
  height: 100px;
  border-bottom: 2px solid #bbb1a7;
  text-align: center;
}
/*------/for register and price page------*/
