.band {
  width: 100%;
}
.advert {
  width: 100%;
}
.advert .descript {
  width: 590px;
  margin:0 auto;
  margin-bottom: 60px;
}
.advert .info {
  width: 90%;
  margin:0 auto;
}
.advert .info .lett {
  width: 100%;
  background:#fff;
  padding: 20px 30px 40px 30px;
}

/* for yoga-blog */

.yoga-blog table {
  width: 100%;
  background:#fff;
  border-collapse: unset;
}
.yoga-blog table tr td,
.yoga-blog table tr th {
  padding-bottom: 30px;  
}
.yoga-blog table tr td {
  color: #8a8aa7;
  font-size: 28px;
}
.yoga-blog table tr td:nth-child(1) { 
  width: 40%;
  text-align: right;
  vertical-align: top;
  padding-left: 25px; 
}
.yoga-blog table tr td:nth-child(2) { 
  width: 60%;
  text-align: left; 
  padding: 0 20px 0 20px; 
  vertical-align: top;
}
.yoga-blog table tr td span {
  display: block;
}
.yoga-blog table tr td a {
  text-decoration: underline;
  color: #8a8aa7;
  font-size: 24px;
  padding-right: 20px;
  background:#fff;
  padding:25px 20px 20px 20px;
}
.advert .first {
  width: 100%;
}
.advert .feature {
  width: 100%;
}
.advert .qualifi {
  width: 672px;
  margin:0 auto;
  margin-bottom: 25px;
}
.advert .lett-01 {
  width: 670px;
  margin: 0 auto;
  margin-bottom: 45px;
}
.advert .yoga-care {
  width: 670px;
  margin:0 auto;
  margin-bottom: 25px;
}
.advert .lett-02 {
  width: 670px;
  margin:0 auto;
  margin-bottom: 40px;
}
.advert .safety {
  width: 670px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.advert .lett-03 {
  width: 670px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.instructor021-box {
  margin-top: 20px;
  position: relative;
}

.instructor021-box .img01 {
  margin-left: 13%; 
  padding-bottom: 80px;
}

.instructor021-box .img02 {
  margin-left: 7.5%;
}
.instructor021-box:before,
.instructor021-box:after {
  background: url(../images/instructor02_img11.png) no-repeat;
  display: block;
  width: 14%;
  height: 46px;
  position: absolute;
  top: 70px;
  left: 4%;
}

.instructor021-box:after {
  background: url(../images/instructor02_img14.png) no-repeat;
  left: 85%;
}

.instructor021-box a img:hover {
  opacity: 1;
}
